<!DOCTYPE html>
<html>
{% include head.html %}

<body class="fullwidth">

	{% include header.html %}
<div class="gevalt">
<div class="page-container">

			<div class="gevalt-header group">
			<h1 class="page-title">404</h1>
			</div>

<img src="https://www.emfink.net/PRcasebook/assets/images/benjamin.jpg" alt="Oy gevalt!">

<h2 class="gevalt">It is only for the sake of those without hope that hope is given to us.</h2>

</div>
</div>

{% include footer.html %}
{% include hemline.html %}

</body>

</html>