/* Casebook Cover Page */
.cover-image {
	background-color: #cccccc;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.cover-block {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.cover a {
	color: $medium-grey;
	text-decoration: none;

	&:hover {
		color: darken($medium-grey, 20%);
	}
}

.cover ul,
ol {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.cover h1 {
	font-size: $huge;
	color: $theme-color;
	line-height: 1;
	font-weight: $bold-weight !important;
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h1 + h2 {
	margin-top: 3rem;
}

.cover h2 {
	font-size: $h1;
	line-height: $line-height;
	color: white;
	font-weight: $bold-weight !important;
	margin: 1rem 0 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h3 {
	font-size: $h2;
	line-height: $line-height;
	color: white;
	font-weight: $bold-weight !important;
	margin: 1rem 0 0 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.cover h4 {
	font-weight: $bold-weight !important;
	font-style: normal;
	color: white;
	line-height: $line-height;
	margin: 3rem 0 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.toc-button {
	padding-top: 2rem;
	padding-bottom: 2px;
}

/* Casebook Chapter Pages */
.casebook-container {
	padding: 100px 0;
	/* VERTICAL PADDING FOR TITLE */
}

.center-screen {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.casebook-header {
	margin-bottom: 3rem;
}

.casebook-header h1 {
	color: $theme-color;
	font-family: $sans-font;
	font-size: $title;
	margin-top: 0;
	margin-bottom: 0;
}

.casebook h3 {
	font-style: italic;
}

.casebook-epigraph {
	font-size: $small;
	font-family: $sans-font;
}

.casebook-epigraph p {
	font-size: $small;
	font-weight: $normal-weight;
}

.casebook-epigraph blockquote {
	font-size: $small;
	border: none;
	margin: 0;
}

.casebook-epigraph blockquote p {
	font-size: $small;
	margin: 0;
	padding: 0;
}

.illustration {
	padding-top: 2rem;
	padding-top: 2rem;
	height: auto;
	width: 100%;
}

.center {
	text-align: center;
}

/* Casebook Primary Legal Authorities (Cases, Statutes, MRPC, Restatement) */
.statute {
	background-color: $light-grey;
	padding: 20px;
}

.statute h1 {
	margin-top: 0;
	font-size: $h2;
}

.statute h2,
h3,
h4,
h5,
h6 {
	font-family: $serif-font;
	font-weight: $normal-weight;
}

.statute h2, h3 {
	font-style: normal;
}

.statute h2 {
	font-size: $h3;
}

.statute h3 {
	font-size: $h4;
	margin-bottom: 1rem;
}


/* heading for comments */
.statute h4 {
	font-size: $h5;
	font-style: italic;
	font-weight: $normal-weight;
	margin-bottom: 1rem;
}

/* body of comments */
.statute h5 {
	font-size: $small;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* body of illustrations */
.statute h6 {
	font-size: $smaller;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.statute p {
	font-size: $body;
}

.statute blockquote {
	font-size: $body;
	font-style: normal;
	line-height: $line-height;
	border: none;
	margin-left: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
}

.statute blockquote p {
	font-size: $body;
	line-height: $line-height;
	font-style: normal;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0;
	max-width: 50rem;
}

.case {
	background-color: $light-grey;
	padding: 20px;
}

.case-summary {
	font-family: $sans-font;
	font-size: $small;
	border-top: 2px solid $theme-color;
	border-bottom: 2px solid $theme-color;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 3rem;
	margin-bottom: 10px;
}

.case-summary {
	font-family: $sans-font;
	font-size: $small;
}

.case p {
	font-family: $serif-font;
	margin-top: 0;
}

.case h1, h6 {
	font-family: $sans-font;
	margin: 0 0 1rem 0;
}


.case h2,
h3,
h4,
h5 {
	font-family: $serif-font;
}

.case h3,
h4,
h5 {
	margin-bottom: 1rem;
}

.case h2 {
	font-style: normal;
}

.case h3 {
	font-weight: normal;
	font-style: italic;
}

.case h4 {
	font-weight: bold;
	font-style: normal;
}

/* case cite */
.case h6{
	font-size: $h4;
	font-weight: $normal-weight;
	font-style: normal;
}


.case blockquote {
	border: none;
}

.case blockquote,
blockquote p {
	font-style: normal;
	margin-top: 0;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	line-height: 1.5;
	margin-right: 0.5rem;
	padding: 0;
}